fastapi
uvicorn[standard]
firebase-admin
google-generativeai
python-multipart
requests
python-dotenv
pydantic-settings
opencv-python-headless
numpy<2.0.0
ultralytics
pillow
psutil
razorpay
twilio
scikit-learn

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
torchvision==0.18.1+cpu